
body{
    display: block;
    padding: 0;
    background-color: rgb(205, 255, 247);
    background-image: url("../kviz/pozadinskaSlika.png");
}
.objave{
    width: 90%;
    color:white ;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    margin-top: 80px;
}
  .objave p {
    font-size:25px ;
  }

.reg-box{
    background-color: purple;

    border-top-left-radius: 60px;
    border-bottom-right-radius:60px ;

    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    display: block;
    } 

.pitanje {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    font-size: 25px;

    border: 5px dashed white;
    border-radius: 20px;
    padding: 20px;
    color:white;
    background-color: rgba(255, 255, 255, 0.347);
}
.odgovori{
    margin: 30px;
    margin-left: 15%;
    margin-right: 15%;
    
    background-color: rgba(255, 255, 255, 0.381);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    transition: .4s background-color ease-in-out;

}
.odgovori:hover{
    background-color: white;
    color: purple;
    cursor: pointer;
}


/* ----------------------pomoc------------------------------- */

.pomoc{
  display: none;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color:rgba(255, 255, 255, 0.603);
  padding: 200px 0 200px 0;
}
.pomoc2{
  display:block;
  width: 80%;
  background-color:white;
  border: 5px solid purple;
  
  border-top-left-radius: 60px;
  border-bottom-right-radius:60px ;
}
.gornja-polovina{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donja{
    height: 50%;
    width: 100%;
}


.nazad-div{
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: left;
    float:right;
  }
  .nazad{
    text-decoration: none;
    color: purple;
    font-size: 20px;
  }
  .nazad:hover{
    color: rgb(221, 71, 221);
  }

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .text1{
    background-color: purple;
    color: white;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  /* ------------------------dodaci--------------------- */
.dodaci{
  width: 100%;
  display: inline-flex;
}
.nazad2-div{
  padding-left: 5%;
  padding-top: 40px;
  text-align: left;
  width: 50%;
  font-weight: bold;
}

.tajmer{
  width: 50%;

}

.button {
  background-color: #7a0f6c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* ------------------------tajmer--------------------- */

.timeBar{
  width: 80%;
  margin: auto;
  border: 2px solid white;
  border-radius: 20px;
  color:white;
}

.timeBarHighlight{
  width: 100%;
  height:100%;
  border-radius: 20px;
  color:white;
  font-weight: bolder;
  background-color: rgb(221, 71, 221);
	transition: width 990ms linear;
}